<section class="promo_box wow bounceIn">
  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        <div class="promo_content">
          <h3>Everest is awesome responsive template, with clean design.</h3>
          <p>Lorem ipsum dolor sit amet, cons adipiscing elit. Aenean commodo ligula eget dolor. </p>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="pb_action">
          <a class="btn btn-lg btn-default" href="#fakelink">
            <i class="fa fa-shopping-cart"></i>
            Download Now
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
