<section class="feature_bottom">
  <div class="container">
    <div class="row sub_content">
      <div class="col-lg-6 wow fadeInLeft">
        <div class="dividerHeading">
          <h4><span>Everest Features</span></h4>
        </div>

        <div class="widget widget_tab">
          <ul  class="nav nav-tabs">
            <li class="active"><a href="#Popular" data-toggle="tab">Popular</a></li>
            <li class=""><a href="#Recent" data-toggle="tab">Recent</a></li>
            <li class="last-tab"><a href="#Recent-Comment" data-toggle="tab"><i class="fa fa-comments-o"></i></a></li>
          </ul>

          <div class="tab-content clearfix">
            <div class="tab-pane fade active in" id="Popular">
              <h3>Unique & Clean Design</h3>
              <p>Fusce lacinia tempor malesuada. Ut lacus sapien, placerat a ornare nec, elementum sit amet felis. Maecenas pretium lorem hendrerit eros sagittis fermentum. Donec in ut odio libero, at vulputate urna. Nulla tristique mi a massa convallis cursus. Nulla eu mi magna. Etiam suscipit commodo ad gravida.</p>
              <ul class="list_style circle">
                <li><a href="#"> Donec convallis, metus nec tempus aliquet</a></li>
                <li><a href="#"> Aenean commodo ligula eget dolor</a></li>
                <li><a href="#"> Cum sociis natoque penatibus mag dis parturient</a></li>
              </ul>
            </div>
            <div class="tab-pane fade" id="Recent">
              <h3>Easy to Customize</h3>
              <p>Fusce lacinia tempor malesuada. Ut lacus sapien, placerat a ornare nec, elementum sit amet felis. Maecenas pretium lorem hendrerit eros sagittis fermentum. Donec in ut odio libero, at vulputate urna. Nulla tristique mi a massa convallis cursus. Nulla eu mi magna. Etiam suscipit commodo ad gravida.</p>
              <ul class="list_style">
                <li><a href="#"> Donec convallis, metus nec tempus aliquet</a></li>
                <li><a href="#"> Aenean commodo ligula eget dolor</a></li>
                <li><a href="#"> Cum sociis natoque penatibus mag dis parturient</a></li>
              </ul>
            </div>
            <div class="tab-pane fade" id="Recent-Comment">
              <h3>Free Support & Updates</h3>
              <p>Fusce lacinia tempor malesuada. Ut lacus sapien, placerat a ornare nec, elementum sit amet felis. Maecenas pretium lorem hendrerit eros sagittis fermentum. Donec in ut odio libero, at vulputate urna. Nulla tristique mi a massa convallis cursus. Nulla eu mi magna. Etiam suscipit commodo ad gravida.</p>
              <ul class="list_style square">
                <li><a href="#"> Donec convallis, metus nec tempus aliquet</a></li>
                <li><a href="#"> Aenean commodo ligula eget dolor</a></li>
                <li><a href="#"> Cum sociis natoque penatibus mag dis parturient</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 wow fadeinright">
        <div class="dividerHeading">
          <h4><span>Why Choose Us?</span></h4>
        </div>
        <p>Cras mattis consectetur purus sit amet fermen. Lorem ipsum dolor sit amet, consec adipiscing elit. Maecenas sed diam eget risus varius bland sit amet non fringilla ullamcorper magna. Nulla eu mi magna. Etiam suscipit commodo ad gravida.</p>
        <ul class="list_style circle">
          <li><a href="#">Donec convallis, metus nec tempus aliquet</a></li>
          <li><a href="#">Aenean commodo ligula eget dolor</a></li>
          <li><a href="#">Cum sociis natoque penatibus mag ipsum</a></li>
          <li><a href="#">Lorem ipsum dolor sit amet cons adipiscing</a></li>
          <li><a href="#">Accumsan vulputate faucibus turpis dictum</a></li>
          <li><a href="#">Nullam ultrices eros accumsan vulputate</a></li>
          <li><a href="#">Nunc aliquet tincidunt metus sit amet</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
